<table class="table table-striped table-condensed" id="activity-scores">
  <thead>
    <tr>
      <th>Dimension</th>
      <th>Activity</th>
      <th>Score vs Goal</th>
    </tr>
  </thead>
  <tbody>
    <% for dimension in @dimensions %>
      <% dimension.activities.each_with_index do |activity, index| %>
        <tr>
          <% if index == 0 %>
            <td rowspan="<%= dimension.activities.length %>">
              <%= dimension.title %>
            </td>
          <% end %>
          <td><%= activity.title %></td>
          <td><%= assessment.scores.where(activity_id: activity.id).first.score %></td>
        </tr>      
      <% end %>
    <% end %>
  </tbody>
</table>