<p class="activityColLabel">Activity 
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
    data-toggle="tooltip" data-placement="top" title="an activity carried out in the organisation"></span>
</p>