<p class="activityColLabel"
  data-toggle="tooltip" 
  data-trigger="click hover focus" 
  data-placement="left" 
  title="an activity carried out in the organisation">Activity 
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</p>