<div class="row">
  <div class="col-md-8">
    <h2>Looks like you haven't started any assessments yet!</h2>
    <p>Click below to start your first assessment</p>
    
    <div class="row">
      <div class="col-md-8">
        <%= link_to begin_assessment_path, class: "btn green next" do %>
        Start your first assessment <span class="glyphicon glyphicon-chevron-right"></span>
        <% end %>
      </div>
    </div>
    <!--
    <hr class="space">
    <div class="row">
      <div class="col-md-8">
        <%= link_to 'Download assessment questions', '#' %>
      </div>
    </div>
    -->  
  </div>
</div>