<p class="answersColLabel"
   data-toggle="tooltip" 
   data-trigger="click hover focus" 
   data-placement="left"
   title="target maturity score for future assessments">Goal <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></p>