<p class="answersColLabel">Goal <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
    data-toggle="tooltip" data-placement="top" title="target maturity score for future assessments"></span></p>