<p class="answersColLabel"
  data-toggle="tooltip" 
  data-trigger="click hover focus" 
  data-placement="left"
  title="your current maturity score">Score 
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</p>