<p class="themeColLabel"
  data-toggle="tooltip" 
  data-trigger="click hover focus" 
  data-placement="left" 
  title="represents a broad area of operations within an organisation">Theme 
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</p>
        
        