<% content_for :title do %>Administration<% end %>

<h2>Registered Users</h2>

<table class="table">
  <thead>
    <tr>
      <th>User</th><th>Admin?</th><th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, edit_user_path(user.id), :class => 'navbar-link' %></td>
        <td><%= user.admin? %></td>
        <td>
            <% unless user.email == current_user.email %>
              <%= link_to "Delete User", user, :confirm => "Are you sure?", :method => :delete %>
            <% end %>
        </td>
      </tr>
    <% end %>    
  </tbody>  
</table>
