<h1>Admin</h1>

<h2>Registered Users</h2>

<table class="table">
  <thead>
    <tr>
      <th>User</th><th>Admin?</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.admin? %></td>
      </tr>
    <% end %>    
  </tbody>  
</table>
