<% content_for :title do %>Statistics Download<% end %>

<div id="mainContent" class="container" typeof="dcat:Dataset" resource="<%= request.original_url %>">
  <h3 property="dct:title">Open Data Pathway Statistics</h3>
  
  <p property="dct:description">Aggregate statistics on the usage of the Open Data Pathway tool and the scores generated for organisational assessments</p>
  
  <div property="dct:rights" resource="#rights">
    <div resource="#rights">
          <h4 property="rdfs:label">Rights Statement</h4>
          <ul>
              <li>Data Licence: <a href="https://creativecommons.org/licenses/by/4.0/" property="odrs:dataLicense">Creative Commons Attribution (CC-BY) 4.0</a></li>
              <li>Content Licence: <a href="https://creativecommons.org/licenses/by/4.0/" property="odrs:contentLicense">Creative Commons Attribution (CC-BY) 4.0</a></li>
          </ul>
          
          <p>
          If you would like to attribute this dataset, please use a link similar to the following: 
            <a href="<%= request.original_url %>" property="odrs:attributionURL"><span property="odrs:attributionText">Open Data Pathway Statistics</span></a>.
          </p>
          
          <p>Data published by the 
            <span property="dct:publisher" typeof="foaf:Agent" resource="http://theodi.org">
              <a href="http://theodi.org" property="foaf:homepage"><span property="foaf:name">Open Data Institute</span></a>
          </span>          
    </div>          
  </div>
          
  <table class="table">
    <thead>
      <tr><th>Data File</th><th></th><th></th></tr>
    </thead>
    <tbody>
      <tr>
        <td>Application statistics</td>
        <td><a href="/statistics/summary.json">JSON</a></td>
        <td><a href="/statistics/summary.csv">CSV</a></td>
      </tr>
      <tr>
        <td>Aggregate statistics: all organisational assessments</td>
        <td><a href="/statistics/all_organisations.json">JSON</a></td>
        <td><a href="/statistics/all_organisations.csv">CSV</a></td>
      </tr>
      <tr>
        <td>Aggregate statistics: All data.gov.uk organisational assessments</td>
        <td><a href="/statistics/all_dgu_organisations.json">JSON</a></td>
        <td><a href="/statistics/all_dgu_organisations.csv">CSV</a></td>        
        
      </tr>
    </tbody>
  </table>

</div>