<% content_for :title do %>Statistics download<% end %>

<div id="mainContent" class="container" typeof="dcat:Dataset" resource="<%= request.original_url %>">
  <h3 property="dct:title">Open Data Pathway statistics</h3>

  <p property="dct:description">Aggregate statistics on the usage of the Open Data Pathway tool and the scores generated for organisational assessments.</p>

  <div property="dct:rights" resource="#rights">
    <div resource="#rights">
          <h4 property="rdfs:label">Rights statement</h4>
          <ul>
              <li>Data licence: <a href="https://creativecommons.org/licenses/by/4.0/" property="odrs:dataLicense">Creative Commons Attribution (CC-BY) 4.0</a></li>
              <li>Content licence: <a href="https://creativecommons.org/licenses/by/4.0/" property="odrs:contentLicense">Creative Commons Attribution (CC-BY) 4.0</a></li>
          </ul>

          <p>
          If you would like to attribute this dataset, please use a link similar to the following:
            <a href="<%= request.original_url %>" property="odrs:attributionURL"><span property="odrs:attributionText">Open Data Pathway statistics</span></a>.
          </p>

          <p>Data published by the
            <span property="dct:publisher" typeof="foaf:Agent" resource="http://theodi.org">
              <a href="http://theodi.org" property="foaf:homepage"><span property="foaf:name">Open Data Institute</span></a>.
          </span>
    </div>
  </div>

  <script src='https://certificates.theodi.org/datasets/24612/certificate/badge.js'></script>

  <h3>Downloads</h3>

  <table class="table">
    <thead>
      <tr><th>Distribution</th><th></th><th></th></tr>
    </thead>
    <tbody>
      <tr>
        <td>Summary usage statistics</td>
        <td><a href="/statistics/summary.json">JSON</a></td>
        <td><a href="/statistics/summary.csv">CSV</a></td>
      </tr>
      <tr>
        <td>Summary usage statistics by country</td>
        <td><a href="/statistics/summary_by_country.json">JSON</a></td>
        <td><a href="/statistics/summary_by_country.csv">CSV</a></td>
      </tr>
      <tr>
        <td>Aggregate statistics: all organisational assessments</td>
        <td><a href="/statistics/all_organisations.json">JSON</a></td>
        <td><a href="/statistics/all_organisations.csv">CSV</a></td>
      </tr>
      <tr>
        <td>Aggregate statistics: all organisational assessments by country</td>
        <td><a href="/statistics/all_organisations_by_country.json">JSON</a></td>
        <td><a href="/statistics/all_organisations_by_country.csv">CSV</a></td>
      </tr>
      <tr>
        <td>Aggregate statistics: all assessments from data.gov.uk organisations</td>
        <td><a href="/statistics/all_dgu_organisations.json">JSON</a></td>
        <td><a href="/statistics/all_dgu_organisations.csv">CSV</a></td>
      </tr>
    </tbody>
  </table>

  <h3>Documentation</h3>

  <p>
  The following tables define the fields and/or data columns used in the data downloads.
  </p>

  <h4>Summary usage statistics</h4>

  <table class="table">
    <thead>
      <tr><th>Field</th><th>Definition</th></tr>
    </thead>
    <tbody>
      <tr>
        <td><code>Registered users</code></td>
        <td>Number of users registered on the website.</td>
      </tr>
      <tr>
        <td><code>data.gov.uk organisations</code></td>
        <td>Number of imported data.gov.uk organisations. These may not yet be registered.</td>
      </tr>
      <tr>
        <td><code>Total organisations</code></td>
        <td>Total number of organisations.</td>
      </tr>
      <tr>
        <td><code>Users with organisations</code></td>
        <td>Number of users that have specified an organisation.</td>
      </tr>
      <tr>
        <td><code>Completed assessments</code></td>
        <td>Total number of completed assessments. An organisation can have multiple completed assessments.</td>
      </tr>
      <tr>
        <td><code>Total assessments</code></td>
        <td>Total number of assessments. An organisation can have multiple assessments, including one in-progress and several completed.</td>
      </tr>
    </tbody>
  </table>

  <h4>Summary usage statistics by country</h4>
  <p>
  The summary usage statistics by country data groups usage statistics by <code>Country</code>.
  </p>
  <ul>
    <li>Where registered users have not yet nominated their country, their statistics are grouped under "Not specified".</li>
    <li>Where the number of assessments for a country is below the privacy threshold, statistics are grouped under "All other countries".</li>
  </ul>

  <table class="table">
    <thead>
      <tr><th>Field</th><th>Definition</th></tr>
    </thead>
    <tbody>
      <tr>
        <td><code>Country</code></td>
        <td>A country name or a grouping where country isn't specified or would risk disclosing individual results.</td>
      </tr>
      <tr>
        <td><code>Registered users</code></td>
        <td>Number of users registered on the website.</td>
      </tr>
      <tr>
        <td><code>Users with organisations</code></td>
        <td>Number of users that have specified an organisation.</td>
      </tr>
      <tr>
        <td><code>Completed assessments</code></td>
        <td>Total number of completed assessments. A user can have multiple completed assessments.</td>
      </tr>
      <tr>
        <td><code>Total assessments</code></td>
        <td>Total number of assessments. A user can have multiple assessments, including one in-progress and several completed.</td>
      </tr>
    </tbody>
  </table>

  <h4>Aggregate statistics</h4>

  <p>
  The aggregate statistics files have similar content but aggregate statistics for different collections of organisations or group statistics by country.
  </p>

  <ul>
    <li>"All organisations" refers to all users of the system.</li>
    <li>"All organisations by country" refers to all users of the system, grouped by country.</li>
    <li>"All data.gov.uk organisations" refers to all users that have registered with an organisation defined in data.gov.uk.</li>
  </ul>

  <p>
  The CSV downloads have a simple tabular format that lists each of the activities and aggregate counts for the maturity scores.
  The JSON files use a more slightly more idiomatic structure: hashes are used to group together themes and activities; and arrays
  are used for the aggregate counts of maturity scores.
  </p>

  <table class="table">
    <thead>
      <tr><th>Column</th><th>Definition</th></tr>
    </thead>
    <tbody>
      <tr>
        <td><code>Country</code></td>
        <td>A country name or a grouping where country isn't specified or would risk disclosing an individual organisation's results (only included for statistics by country)</td>
      </tr>
      <tr>
        <td><code>Theme</code></td>
        <td>A theme defined in the open data maturity model.</td>
      </tr>
      <tr>
        <td><code>Activity</code></td>
        <td>An activity defined in the open data maturity model. Every activity is associated with a single theme.</td>
      </tr>
      <tr>
        <td><code>1-Initial</code></td>
        <td>Number of organisations that have been awarded a maturity score of 1 ("Initial") for an activity.</td>
      </tr>
      <tr>
        <td><code>2-Repeatable</code></td>
        <td>Number of organisations that have been awarded a maturity score of 2 ("Repeatable") for an activity.</td>
      </tr>
      <tr>
        <td><code>3-Defined</code></td>
        <td>Number of organisations that have been awarded a maturity score of 3 ("Defined") for an activity.</td>
      </tr>
      <tr>
        <td><code>4-Managed</code></td>
        <td>Number of organisations that have been awarded a maturity score of 4 ("Managed") for an activity.</td>
      </tr>
      <tr>
        <td><code>5-Optimising</code></td>
        <td>Number of organisations that have been awarded a maturity score of 5 ("Optimising") for an activity.</td>
      </tr>
      <tr>
        <td><code>Completed</code></td>
        <td>Number of completed assessments that have been scored for an activity.</td>
      </tr>
      <tr>
        <td><code>Organisations</code></td>
        <td>Number of organisations that have been scored for an activity.</td>
      </tr>

    </tbody>
  </table>

</div>