<% content_for :title do %>Statistics<% end %>

<div id="mainContent" class="container">

  <div class="tabbable boxed parentTabs">
    <!-- Nav tabs -->
    <ul id="statisticsNav" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#organisationTab" role="tab" data-toggle="tab">All organisations</a>
      </li>
      <li role="presentation">
        <a href="#dguTab" role="tab" data-toggle="tab">All data.gov.uk organisations</a>
      </li>
         
      <% if current_user && (current_user.organisation.present? && current_user.organisation.parent.present?) %>
      <li role="presentation">
        <a href="#networkTab" role="tab" data-toggle="tab">All peer organisations</a>
      </li>
      <% end %>
      <div class="pull-right" id="download"><a href="/statistics/data" class="btn orange">Download data</a></div>  
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">    
      <div role="tabpanel" class="tab-pane fade active in" id="organisationTab">
        <%= render 'organisations_tab', title: "all organisations", 
            scorer: @scorer, results: @all_organisations, note: "" %>                  
      </div>
      <div role="tabpanel" class="tab-pane fade in" id="dguTab">
        <%= render 'organisations_tab', title: "data.gov.uk organisations", 
            scorer: @scorer, results: @dgu_organisations, note: "" %>
      </div>
      <% if @parent_organisation.present? %>
      <div role="tabpanel" class="tab-pane fade in" id="networkTab">
        <%= render 'organisations_tab', title: "all peer organisations", 
            scorer: @scorer, 
            results: @peer_organisations,
            note: "Peer organisations are those that are in the #{@parent_organisation.title} group on data.gov.uk" %>
      </div>
      <% end %>
    </div>
    <!-- end tab panes -->
  </div>
  
</div>

<% content_for :javascript_footer do %>
     $('.heatmapResults').tooltip({
       selector: "*[rel=tooltip]"
     })
     
<% end %>
