      <section id="homeContent">

        <div class="row top">
          <div id="cta" class="col-sm-12">
          <h1>Map your pathway to open data success</h1>

          <div id="takeAssessmnet">
            <% if current_user %>
              <a href="<%= assessments_path %>" class="btn green"><h2 class="white">Start now</h2></a>
            <% else %>
              <a href="<%= new_user_registration_path %>" class="btn green"><h2 class="white">Start now</h2></a>
            <% end %>
            <a href="/about" class="btn"><h2>Find out more</h2></a>
          </div>

          </div>

        </div>

        <div id="howItWorks" class="row">

         <div class="step one col-sm-4">
          <h4>1. Assess</h4>
          <p>Answer a set of questions that will determine your current open data maturity level.</p>
         </div>

         <div class="step two col-sm-4">
          <h4>2. Set goals</h4>
          <p>Set the targets you wish to reach and the tool will provide a set of practical recommendations to help you achieve them.</p>
         </div>

         <div class="step col-sm-4">
          <h4>3. Track progress </h4>
          <p>Monitor your progress and compare your maturity levels against other organisations.</p>
         </div>

        </div>

        <div id="bottom" class="row">

          <div id="benefits" class="col-sm-6">
           <div class="wrapper">
           <h3>Benefits</h3>
           <ul>
            <li><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Discover your organisation’s strengths and weaknesses</li>
            <li><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Identify areas of improvement to optimise progression</li>
            <li><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Receive practical recommendations to help achieve your goals</li>
           </ul>
           </div>
          </div>

         <div id="whatsnext" class="col-sm-6">
           <div class="wrapper">
           <h3>Support Us</h3>
            <p>Open Data Pathway is brought to you by Open Data Institute in partnership with <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">Department of Environment, Food & Rural Affairs</a> to enable organisations assess their open data maturity.</p>
            <p>It was funded to beta by the <a href="https://www.gov.uk/government/publications/breakthrough-fund-and-release-of-data-fund">Release of Data Fund</a> with support from 
            <a href="https://www.gov.uk/government/groups/open-data-user-group">Open Data User Group</a> and <a href="https://www.gov.uk/government/organisations/cabinet-office">Cabinet Office</a>.</p>
            <p>We would love to continue evolving. To sponsor a new feature or offer financial support contact <a href="mailto:maturity@theodi.org">maturity@theodi.org</a>.</p>
          </div>
          </div>

        </div>

      </section>