<% content_for :title do %><% end %>

<h1 style="font-size: 300%">Assess your open data maturity</h1>

<div class="row">
  <div class="col-md-8"><a href="" class="btn btn-primary btn-lg"><h2>Take the assessment</h2></a></div>
</div>

<div class="row">&nbsp;</div>

<div class="row top-buffer">
  <div class="col-md-8"><a href="" class="btn btn-success"><h3>Browse the stats</h3></a></div>
</div>
