<% content_for :title do %>About<% end %>

<div class="col-md-8">
<p>
Open data pathway is a self-assessment tool that will help you assess how well your organisation publishes and consumes open data, 
and identify actions for improvement. 
</p>

<p>
The tool uses a questionnaire based on <a href="http://theodi.org/guides/open-data-maturity-model">the open data maturity model</a>. The model is based around five themes and and five progress levels. 
Each theme represents a broad area of operations within an organisation. Each theme is then broken down into areas of activity.
</p>

<h2>Assess your organisation</h2>

<p>
During an assessment you will answer a series of questions, one for each of the activities in the maturity model. The answers you provide 
will allow the tool to score your progress for each activity. 
</p>

<p>
You can assess the activities in any order. To answer questions you may need to speak to other people in your organisation. To enable 
this the application allows you to save your progress at any point in the assessment.
</p>

<p>
All of the questions are multiple choice and help text is provided. You can annotate your answers with notes and links that help provide 
evidence and support for how you have answered the questions. You can revise your answers at any time before finalising the assessment.
</p>

<h2>Set Goals</h2>

<p>
Once you have completed an assessment you will be presented with a report that shows your answers and your final scores. The report 
also includes a number of practical recommendations for how you can improve your scores for each activity.
</p>

<p>
After completing your first assessment you will be able to set targets for how your organisation plans to develop. After carrying out the 
recommended improvements you can reassess your organisation to track progress.
</p>

<h2>Track Targets</h2>

<p>
Future versions of the tool will publish anonymous statistics that will give an general indication of how other organisations are scoring 
against each of these activities.
</p>

<p>
This will help you in benchmarking yourself against other organisations. But the scores for your assessment, and all of your answers 
and supporting notes will remain private. No information will be made publicly available without your consent.
</p>

<% if current_user %>
  <a href="<%= assessments_path %>" class="btn green"><h2>Start now</h2></a>
<% else %>
  <a href="<%= new_user_registration_path %>" class="btn green"><h2>Start now</h2></a>
<% end %>
</div>


