<% content_for :title do %>Get in touch<% end %>

<p>
This website is a beta version so its content and features might change.
</p>

<p>
Please complete our <a href="http://goo.gl/forms/7Y0ZxiHqfU">user feedback survey</a> to share your experience with using this tool.
</p>

<p>
Please report any bugs or mistakes on <a href="https://github.com/theodi/ODMAT/issues">GitHub</a> or email us at
<a href="mailto:maturity@theodi.org">maturity@theodi.org</a>
</p>
