<% content_for :title do %>Cookie Policy<% end %>

<p>
Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good 
experience when you browse our website and also allows us to improve our site. A cookie is a small file of letters and numbers 
that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is 
transferred to your computer’s hard drive. You can find more information about the individual cookies we use and the 
purposes for which we use them in the table below:
</p>

<table class="table">
  <thead>
    <tr>
    <th>Name(s)</th>
    <th>Purpose</th>
    <th>Expires</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>_ODMAT_session</code></td>
      <td>This cookie is used to maintain your session with the application.</td>
      <td>2 weeks or until you explicitly logout</td>
    </tr>
    <tr>
      <td><code>_utma</code><br>
      <code>_utmb</code><br>
      <code>_utmc</code></br>
      <code>_utmz</code></br>
      </td>
      <td>
      These cookies allow us to collect anonymous information about our visitors such that we can improve the website and ensure it caters to peoples needs. More information.
      </td>
      <td>
      <code>_utma</code> - 2 years<br>
      <code>_utmb</code> - 30 minutes<br>
      <code>_utmc</code> - when you exit the browser<br>
      <code>_utmz</code> - 6 months<br>
      </td>
    </tr>
  </tbody>
</table>

<p>
You can block these cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. 
However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our site.
</p>