/*
*= require select2
*= require select2-bootstrap
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body > .container {
  padding-top: 40px;
  background-color: white;
}

#main-nav {
  background-color: #000;
  color: #adaeaf;
}

#footer {
  background-color: #000;
  font-size: 0.88em;
  color: #adaeaf;
  padding-top: 40px;
  padding-bottom: 52px;
}

#footer a {
  color: #adaeaf;
  text-decoration: none;
}

#footer ul {
  list-style: none outside none;
  margin: -4px 0 0 0;
}

#footer .footer-content h1 {
  background: url(/assets/logo-footer.png) no-repeat top left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 30px 0;
  width: 204px;
  height: 49px;
}

#footer .footer-content h1 a {
  display: block;
}

#footer p {
  margin: 0px;
  font-size: 16px;
}

#footer .footer-nav {
  margin: 0px;
  font-size: 16px;
}