/*
*= require select2
*= require select2-bootstrap
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
//some ODI base styles and colour definitions
@import "colours";
@import "basic";

// Custom colours
$pathwayLightGrey: #f5f5f5;

@import "buttons";
@import "report";
@import "my_assessments";
@import "question";
@import "targets";
@import "home";
@import "heatmap";

.odi-orange {
  .page-title, .site-title .status {
    background-color: $odiOrange;
  }
  .caret {
    border-top-color: $odiOrange;
    border-bottom-color: $odiOrange;
  }
}

.odi-blue {
  .page-title, .site-title .status {
    background-color: $odiBlue;
  }
  .caret {
    border-top-color: $odiBlue;
    border-bottom-color: $odiBlue;
  }
}

h1.site-title {
  font-size: 32px;
  margin: 10px 0;
  position: relative;
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
  .label {
    position: absolute;
    font-size: 12px;
    top: -12px;
    right: -60px;
    padding: 5px;
  }
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: $odiOrange;
}

div.navbar-static-top { margin-bottom: 0px; }

hr {  border-color: #333; }

h4.breadcrumb { 
  background: none;
  padding-left:0px;
  color:white;
  margin-bottom:0px;
  margin-top:2px;
  font-size:1em;

  a { color:white; }
}

label.required:after {
    content: " *";
    color: red;
}