//MY ASSESSMENTS

.small { font-size: 0.7em; }

#notes-form input[type="text"], 
#title-form input[type="text"] {
  font-size: inherit;
  width:100%;
  display: inline-block;  
  margin:0;
}

#notes-form input, #notes-form a.btn,
#title-form input, #title-form a.btn {
  width:30%;
  font-size:0.8em;
}


ul#myAssessments {
 list-style: none;
 margin: 0;
 padding: 0;

 li.assessment {
  border: 1px solid black;
  margin-bottom: 1em;
  padding: 0;
  display: table;
  background: $pathwayLightGrey;
  font-size: 14px;
  
  &.current {background: white;

   .details { color: black !important;}
  }

  div.col {

   padding: 1em;
   border-right: 1px solid black;
   display: table-cell;
   float: none;
   vertical-align: middle;

   &.complete {
    text-align: center;
    .percentComplete {
     text-align: center;
     span {
       font-size: 30px;
       line-height: 30px;
       font-weight: 600;
       display: block;
       }
    }
    span.glyphicon {
      font-size: 60px;
      vertical-align: middle;
      color: $odiColour5;
    }
   }

   &.details {
     color: $odiGreyDark;
     h2 {margin: 0 0 0.25em 0; font-size: 21px;}
     span.completed, span.updated {margin-left: 1em;}
   }

   &.actions {
    text-align: center;
    a.delete {color: $odiRed; margin-top: 0.5em; display: block;}
   }

   &:last-child {border-right: none;}
  }

 }

}

//ASSESSMENT PAGE
#progress-bar { 
  width: 280px; background-color:silver; 
  background: none repeat scroll 0% 0% #F5F5F5;
  border: 1px solid #DDD;
  border-radius: 10px;
  overflow: hidden; 
  margin-top:2px;
}
#progress-bar div { background: none repeat scroll 0% 0% #FF6700; height:0.7em; }

div.highlight-dimension { border-top: 1px solid #DDD; }
div.highlight-dimension:nth-child(even) { 
  padding-top:5px; padding-bottom:5px;
  background: none repeat scroll 0% 0% #F5F5F5;
}

div.assessment-overview { 
  h5 { font-weight:normal; font-size:1em; margin-top: 11px; } 
  a.btn { width:70%; float:right; }
  div.activity { padding: 5px 0px; border-bottom: 1px solid white; margin-top:3px; }
  div.activity.complete { color:#0DBC37; }
  div.activity:last-child { border-bottom: none }
}
.btn.focus, .btn:focus, .btn:hover {
  color: #333;
  text-decoration: none;
}
a.btn.orange {
  color: #FFF;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  background-color: #FF6700;
  background-image: linear-gradient(to bottom, #FF6700, #E65D00);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
a.btn.green {
  color: #FFF;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  background-color: #0DBC37;
  background-image: linear-gradient(to bottom, #0DBC37, #0AA22E);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.green:hover {
  background-image: linear-gradient(to bottom, #0AA22E, #0AA22E);
  background-color: #0AA22E;
}
a.btn {
  padding: 4px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #888;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #F5F5F5;
  background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC #CCC #B3B3B3;
  border-image: none;
  border-radius: 4px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.orange:hover {
  background-image: linear-gradient(to bottom, #E65D00, #E65D00);
  background-color: #E65D00;
}
div.importantLinks {
  background: none repeat scroll 0% 0% #F5F5F5;
  padding: 15px;
  border: 1px solid #DDD;
}
div.importantLinks p:first-child {
  padding-top: 0px;
}
div.importantLinks p {
  margin-bottom: 0px;
  border-bottom: 1px solid #BBB;
  padding: 0.5em 0px;
  font-size:0.74em;
}
div.importantLinks p:last-child {
  padding-bottom: 0px;
  border-bottom: medium none;
}