//MY ASSESSMENTS

.small { font-size: 0.7em; }

#notes-form input[type="text"], 
#title-form input[type="text"] {
  font-size: inherit;
  width:100%;
  display: inline-block;  
  margin:0;
}

#notes-form input, #notes-form a.btn,
#title-form input, #title-form a.btn {
  width:30%;
  font-size:0.8em;
}


ul#myAssessments {
 list-style: none;
 margin: 0;
 padding: 0;

 li.assessment {
  border: 1px solid black;
  margin-bottom: 1em;
  padding: 0;
  display: table;
  background: $pathwayLightGrey;
  font-size: 14px;
  
  &.current {background: white;

   .details { color: black !important;}
  }

  div.col {

   padding: 1em;
   border-right: 1px solid black;
   display: table-cell;
   float: none;
   vertical-align: middle;

   &.complete {
    text-align: center;
    .percentComplete {
     text-align: center;
     span {
       font-size: 30px;
       line-height: 30px;
       font-weight: 600;
       display: block;
       }
    }
    span.glyphicon {
      font-size: 60px;
      vertical-align: middle;
      color: $odiColour5;
    }
   }

   &.details {
     color: $odiGreyDark;
     h2 {margin: 0 0 0.25em 0; font-size: 21px;}
     span.completed, span.updated {margin-left: 1em;}
   }

   &.actions {
    text-align: center;
    a.delete {color: $odiRed; margin-top: 0.5em; display: block;}
   }

   &:last-child {border-right: none;}
  }

 }

}

//ASSESSMENT PAGE
#progress-bar { width: 240px; background-color:silver; }
#progress-bar div { background-color: green; height:0.5em; }

div.assessment-overview { 
  font-size: 16px;
  
  h5 { font-weight:bold;  font-size: 16px; margin-top: 11px; }
  
  a.btn {
    background: black;
    color: white;
    padding: 0.25em;
    border-radius: 4px;
    text-align:center;
    width:70%;
    float:right;
  }
  a.btn:hover { background-color: $odiOrange; color: white; }

  div.activity {
    padding: 5px 0px; border-bottom: 1px solid white; margin-top:3px;
    a.btn { font-size:0.8em; width:52%; }
    a.btn-complete { color: green;
      background: none repeat scroll 0% 0% transparent;
      font-size: 17px;
      padding: 0px; }
    a.btn:hover { background-color: $odiOrange; color: white; }
  }

  div.activity:last-child { border-bottom: none }

}

div.highlight-dimension:nth-child(even) { 
  padding-top:5px; padding-bottom:5px;
  background: none repeat scroll 0% 0% #F5F5F5;
}
