//SET GOALS

#setGoals {

 header {
  .labelGroup {width: 70%; display: inline-block;
   .activityColLabel {width: 60%;}
   .answersColLabel {width: 15%; margin-left: -15px;}
   .goalColLabel {width: 15%; display: inline-block; margin-left: -15px;}
  }
 }

 h3 { font-size: 18px; display: inline-block; float: left; width: 60%; margin-top: 0; font-weight: 400;}

 ul.activities {
  width: 70%;
  li {
   .wrapScoreGoal {
    width: 25%;
    float: left;
    position: relative;
    top: -0.25em;
    .score, .goal {display: inline-block;}
    .goal {

     .less, .more {
        cursor: pointer;
        position: relative;

        color: $odiBlue;
        &:hover {color: $odiOrange;}
        }
     input {
      width: 2.5em;
      text-align: center;
      display: inline-block;
      }
     }
     .score {
      width: 50%;
      .yourScore {
       background: black;
       color: white;
       padding: 0.25em 0.5em;
       border-radius: 4px;
      }
     }
   }
   &:first-child { padding-top: 15px; margin-top: 0;}
  }
 }
}
