<p>Hello <%= @resource.name %>,</p>

<p>We received the request to reset your password for your account for Open Data Pathway. Click the link below to reset your password:</p>

<p><%= link_to 'Reset my password now', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you have not requested the password reset then don't worry - you can ignore this email. Alternatively you can contact XXX@theodi.org.</p>
