<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7 footer-content">
                <h1 class="footer-logo"><a href="http://www.theodi.org">Open Data Institute</a></h1>
                <p><a href="http://www.theodi.org/contact">Open Data Institute, 65 Clifton Street, London EC2A 4JE</a></p>
                <p><a href="mailto:info@theodi.org">info@theodi.org</a> Company <a href="http://opencorporates.com/companies/gb/08030289">08030289</a>
                    <span>VAT</span><span>143 7796 80</span>
                </p>
                <p class="license">
                    <a href="http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB" rel="license">
                        <%= image_tag('cc.png', alt: "Creative Commons Licence", width: 80, height: 15) %>
                    </a>
                </p>
            </div>
            <div class="col-md-5 footer-nav">
                <nav>
                    <ul class="pull-right list-inline">
                        <li><a href="/statistics">Statistics</a></li>
                        <li><a href="/terms-of-use">Terms of use</a></li>
                        <li><a href="/privacy-policy">Privacy policy</a></li>
                        <li><a href="/cookie-policy">Cookie policy</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>